fastapi
uvicorn
google-genai
python-dotenv
pytesseract
pillow
pdfplumber
python-multipart
reportlab
certifi
email-validator
redis>=4.5
faiss-cpu
motor==3.4.0
pymongo==4.6.1
numpy
firebase-admin==6.5.0
httpx
aiofiles